<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.icefery.demo.mapper.AmountTransUnusualSummaryMapper">
    <select id="selectList" resultType="xyz.icefery.demo.entity.AmountTransUnusualSummaryDTO">
        select  attribute1                                                             as company_name,
                deal_time,
                account_no,
                account_type,
                account_name,
                account_cooperation_bank,
                account_open_bank,
                to_char(transferred_amount3,'fm999,999,999,999,990.00')                as transferred_amount3,
                to_char(revenue_amount-transferred_amount3,'fm999,999,999,999,990.00') as revenue_amount,
                col_rate,
                reciprocal_acct_name,
                reciprocal_acct_company
        from jsmc_company jc
        inner join jsmc_amount_trans_unusual jatu
        on regexp_like(jatu.use_unit, jc.attribute1)
        where 1=1
        <if test="periodName != null and periodName != ''">
            and to_char(deal_time,'yyyy-MM') =  #{periodName}
        </if>
        <if test="accountName != null and accountName != ''">
            and account_Name like ( '%'||#{accountName}||'%' )
        </if>
        <if test="companyCodeList != null and companyCodeList.size > 0">
            and company_code in
            <foreach item="it" index="index" collection="companyCodeList" open="(" separator="," close=")">#{it}</foreach>
        </if>
    </select>
</mapper>