# image
/image/
# container data
/**/data/
# container log
/**/logs/


# mysql data
/**/var/lib/mysql/

# rocketmq data
/**/home/rocketmq/store/

# rabbitmq data
/**/var/lib/rabbitmq/mnesia/

# logstash.conf
/**/usr/share/logstash/pipeline/logstash.conf


# nginx root
/**/usr/share/nginx/html/


# nginx
/**/data/
/**/datalog/