<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>elasticsearch-demo</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
      .width-45 {
        width: 45px;
      }

      .width-60 {
        width: 60px;
      }

      .width-120 {
        width: 120px;
      }

      .width-600 {
        width: 600px;
      }

      .font-12 {
        font-size: 12px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <label><input type="text" v-model="input" /></label>
      <button @click="request">搜索</button>
      <table v-if="showList">
        <tr v-for="(item, index) of list">
          <td class="width-60"><img class="width-45" :src="item.avatarSrc" alt="" /></td>
          <td class="width-120" v-html="item.name"></td>
          <td class="width-120" v-html="item.alias"></td>
          <td class="width-120" v-html="item.title"></td>
          <td class="width-600 font-12 text-indent-cn" v-html="item.shortBio"></td>
        </tr>
      </table>
    </div>

    <script>
      new Vue({
        el: '#app',
        data() {
          return {
            input: '',
            showList: false,
            list: []
          }
        },
        methods: {
          request() {
            axios({ url: `/highlight-search/${this.input}` }).then(response => {
              const data = response.data
              console.log(data)
              const { total, size, list } = data
              this.list = list
              this.showList = true
            })
          }
        }
      })
    </script>
  </body>
</html>
