<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%highlight(%-5level)] [%magenta(%thread)] [%cyan(%logger)] %message %n</pattern>
    </encoder>
  </appender>

  <!-- MyBatis 日志 -->
  <logger name="xyz.icefery.demo.ssm.mapper" level="TRACE" />

  <!--
      TRACE: TRACE | DEBUG | INFO | WARN | ERROR
      DEBUG:         DEBUG | INFO | WARN | ERROR
      INFO :                 INFO | WARN | ERROR
      WARN :                        WARN | ERROR
      ERROR:                               ERROR
  -->
  <root level="INFO">
    <appender-ref ref="stdout" />
  </root>
</configuration>
